<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace等于mapper接口类的全限定名,这样实现对应 -->
<mapper namespace="com.canvs.mapper.EmployeeMapper">
    <select id="getEmployeeById" resultType="com.canvs.pojo.Employee">
        SELECT emp_id empId,emp_name empName,emp_salary empSalary FROM t_emp WHERE emp_id = #{id}
    </select>
    <select id="getEmployees" resultType="com.canvs.pojo.Employee">
        SELECT emp_id empId,emp_name empName,emp_salary empSalary FROM t_emp
    </select>
</mapper>