<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.canvs.mapper.UserMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO user(username,password) VALUES(#{username},#{password})
    </insert>
    <update id="update">
        UPDATE user SET username = #{username}, password = #{password} WHERE id = #{id}
    </update>
    <delete id="delete">
        DELETE FROM user WHERE id = #{id};
    </delete>
    <select id="selectById" resultType="user">
        SELECT * FROM user WHERE id = #{id};
    </select>
    <select id="selectAll" resultType="user">
        SELECT * FROM user;
    </select>
</mapper>